<div class="row">
  <div class="col">
    <input (keyup)="buscar(termino.value)" #termino type="text" class="form-control" placeholder="Buscar artista...">
  </div>
</div>
<div class="card-columns m-5">
  <div *ngFor="let artista of artistas" class="card">
    <img [src]="artista.images[0].url" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> {{artista.name}} </h5>
      <p class="card-text">
        <span *ngFor="let artista of artista.artists" class="badge badge-primary">
          {{artista.name}}
        </span>
      </p>
    </div>
  </div>
</div>
